div(style="background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDBweCIgdmlld…0iLjUiLz48cGF0aCBkPSJNMCAwczU3My4wOSAxNDAgMTI4MCAxNDBWMHoiLz48L2c+PC9zdmc+); background-size: 100% 100px; bottom: 20px; height: 100px; z-index: 1; transform: rotateX(180deg);")
	svg(width='100%' height='100px' viewBox='0 0 1280 140' preserveAspectRatio='none' xmlns='http://www.w3.org/2000/svg')
		g(fill='#304294')
			path(d='M0 0v60s573.09 80 1280 80V0z' fill-opacity='.3')
			path(d='M0 0v30s573.09 110 1280 110V0z' fill-opacity='.5')
			path(d='M0 0s573.09 140 1280 140V0z')

footer.footer
	.container-fluid.bg-primary.text-light
		.row.p-5
			.col-lg-2
			.col-lg-3
				img(src='_assets/assets/img/logo-primus-capital-footer.png' style='height:43px;')
				br
				br
				img(src='_assets/assets/img/logo-achef.png' style='height:30px;')

			.col-lg-7
				.row
					.col.mb-2.pl-0
						ul.nav.flex-column
							li.nav-item
								a.nav-link.inverse.font-small-90(href='https://primuscapital.cl/somos-primus-capital/') Nosotros
							li.nav-item
								a.nav-link.inverse.font-small-90(href='https://primuscapital.cl/productos-y-servicios/') Productos y servicios
							li.nav-item
								a.nav-link.inverse.font-small-90(href='https://primuscapital.cl/informacion-de-interes/#preguntas') Preguntas frecuentes
							li.nav-item
								a.nav-link.inverse.font-small-90(href='https://primuscapital.cl/informacion-de-interes/#canal') Canal de denuncias
							li.nav-item
								a.nav-link.inverse.font-small-90(href='https://primuscapital.cl/contactanos/#trabaja') Trabaja con nosotros

					.col.mb-2.pl-0
						ul.nav.flex-column
							li.nav-item
								a.nav-link.inverse.font-small-90(href='https://primuscapital.cl/politicas-de-privacidad/') Políticas de privacidad
							li.nav-item
								a.nav-link.inverse.font-small-90(href='https://primuscapital.cl/acceso-clientes/') Acceso Clientes
							li.nav-item
								a.nav-link.inverse.font-small-90(href='https://primuscapital.cl/contactanos') Contáctanos
							li.nav-item
								a.nav-link.inverse.font-small-90(href='https://primuscapital.cl/noticias/') Noticias

					.col.mb-2.pl-0
						p
							strong.font-small-90 Primus Capital Chile
							br
							<br>
							strong.font-small-90 
								| Dirección
							span.font-small-90 
								| : Apoquindo 3000, piso 10, Las Condes, Región Metropolitana
							br
							br
							strong.font-small-90 
								| Teléfono:
							a.text-white.font-small-90(href='tel:%20+56224112100') 
								| +562 2411 2100

					.col.mb-2.pl-0
						p
							strong.font-small-90 Primus Capital Perú
							br
							br
							strong.font-small-90 Dirección
							span.font-small-90 : Av.Jorge Basadre 310, Oficina 601 A. San Isidro, Lima
							br
							br
							strong.font-small-90 Teléfono
							a.text-white.font-small-90(href='tel:%20+5115000504') : +511 500 0504
							|  anexo 102

		.row
			.col-lg-6.offset-lg-6
				ul.rrss.text-right
					li.icon-social-media
						a(href='#')
							i.fab.fa-facebook-f

					li.icon-social-media
						a(href='#')
							i.fab.fa-linkedin-in

					li.icon-social-media
						a(href='#')
							i.fab.fa-instagram

					li.icon-social-media
						a(href='#')
							i.fab.fa-twitter

