head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width,initial-scale=1,user-scalable=0')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='description' content='')
    meta(name='author' content='')
    meta(name='keywords' content='')
    
    link(rel='shortcut icon' type='image/x-icon' href='assets/images/brand/favicon.ico')
    
    title Primus Capital - Intranet
    
    link(href='_assets/assets/vendor/bootstrap/dist/css/bootstrap.css' rel='stylesheet')
    //link(href='_assets/assets/vendor/themeforest/css/admin-dashboard.css' rel='stylesheet')
    //link(href='_assets/assets/vendor/themeforest/css/skin-modes.css' rel='stylesheet')
    link(href='_assets/assets/plugins/sidemenu/sidemenu.css' rel='stylesheet')
    link(href='_assets/assets/plugins/scroll-bar/jquery.scrollbar.css' rel='stylesheet')
    link(href='_assets/assets/plugins/sidebar/sidebar.css' rel='stylesheet')
    link(href='_assets/assets/plugins/hover/hover.css' rel='stylesheet')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous')
    link(href='_assets/assets/css/icons.css' rel='stylesheet')
    link(href='_assets/parent-styles/primus-bootstrap-4-styles.css' rel='stylesheet')
    link(rel='stylesheet', href='/assets/css/bootstrap-table.min.css')
    link(rel="stylesheet", href="/assets/css/bootstrap-datetimepicker.min.css")
    link(href='_assets/assets/css/main.css' rel='stylesheet')
