<script src="_assets/assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="_assets/assets/vendor/bootstrap/dist/js/bootstrap.bundle.js"></script>
<script src="_assets/assets/plugins/sidemenu/sidemenu.js"></script>
<script src="_assets/assets/plugins/scroll-bar/jquery.scrollbar.min.js"></script>
<script src="_assets/assets/plugins/sidebar/sidebar.js"></script>

<script src="_assets/assets/js/main.js"></script>