extends layout

block content
	.app-content
		.side-app
			.page-header
				div
					h1.page-title Otorgamientos
					ol.breadcrumb
						li.breadcrumb-item
							a(href='#') Inicio
						li.breadcrumb-item.active(aria-current='page') Otorgamientos

			.row
				.col-sm-12.col-md-12.col-lg-12.col-xl-12
					.card
						.card-header(data-toggle="collapse", role="button", href="#divBodySearchAward", aria-expanded="false", aria-controls="divBodySearchAward")
							h3.card-title Opciones de Consulta
						.card-body
							#divBodySearchAward
								.row
									.col-sm-12.col-md-12.col-lg-4.col-xl-6
										.card
											.card-header
												.card-title Contrato(s)
											.card-body
												.form-group.form-elements
													.custom-controls-stacked
														.row
															.col-sm-12.col-md-12.col-lg-12.col-xl-4
																label.custom-control.custom-radio
																	input.custom-control-input(type='radio' name='ot_op1' value='ot_opt_res' checked)
																	span.custom-control-label Resumen
															.col-sm-12.col-md-12.col-lg-12.col-xl-4
																label.custom-control.custom-radio
																	input.custom-control-input(type='radio' name='ot_op1' value='ot_opt_det')
																	span.custom-control-label Detalle
															.col-sm-12.col-md-12.col-lg-12.col-xl-4
																label.custom-control.custom-radio
																	input.custom-control-input(type='radio' name='ot_op1' value='ot_opt_doc')
																	span.custom-control-label Documento
														p
														.row
															.col-sm-12.col-md-12.col-lg-12.col-xl-4
																label.custom-control.custom-radio
																	input.custom-control-input(type='radio' name='ot_op1' value='ot_opt_ind' disabled)
																	span.custom-control-label Individual
															.col-sm-12.col-md-12.col-lg-12.col-xl-5
																.input-group
																	input.form-control#ot_nro(type='text' placeholder='R.U.T. Cliente', disabled)
									.col-sm-12.col-md-12.col-lg-8.col-xl-6
										.card
											.card-header
												.card-title Fecha
											.card-body
												.form-group.form-elements
													.custom-controls-stacked
														.row
															.col-sm-12.col-md-12.col-lg-12.col-xl-12
																label.custom-control.custom-radio
																	input.custom-control-input(type='radio' name='ot_op2' value='ot_opt_hoy' checked)
																	span.custom-control-label A hoy
														p
														.row
															.col-sm-12.col-md-12.col-lg-12.col-xl-4
																label.custom-control.custom-radio
																	input.custom-control-input(type='radio' name='ot_op2' value='ot_opt_per')
																	span.custom-control-label Periodo

															.col-sm-12.col-md-12.col-lg-6.col-xl-4
																label(for='ot_date_ini') Desde
																.form-group
																	.input-group.date(id='ot_date_ini')
																		input#ot_date_ini_txt.form-control(type='text', placeholder='', readonly)
																		span.input-group-addon
																			span.fa.fa-calendar

															.col-sm-12.col-md-12.col-lg-6.col-xl-4
																label(for='ot_date_end') Hasta
																.form-group
																	.input-group.date(id='ot_date_end')
																		input#ot_date_end_txt.form-control(type='text', placeholder='', readonly)
																		span.input-group-addon
																			span.fa.fa-calendar


								.row
									.col-md-6
									.col-md-6
										.row
											.col-lg-6
												button.btn.btn-outline-warning.btn-block#btn-ot-clear(type="button") Limpiar
											.col-lg-6
												button.btn.btn-outline-secondary.btn-block#btn-ot-search(type="button") Consultar

								p
								.row
									.col-md-12
										span.text-muted.text-right
											| Estado: favor seleccione preferencias de consulta.


			.row
				.col-sm-12.col-md-12.col-lg-12.col-xl-12
					.card
						.card-header(data-toggle="collapse", role="button", href="#tblAwardRes", aria-expanded="false", aria-controls="tblAwardRes")
							h3.card-title Resumen
						.card-body.p-4
							.collapse#tblAwardRes
								table#tbl_award_res(data-show-export="true")

			.row
				.col-sm-12.col-md-12.col-lg-12.col-xl-12
					.card
						.card-header(data-toggle="collapse", href="#tblAwardDet", aria-expanded="false", aria-controls="tblAwardDet")
							h3.card-title Detalle
						.card-body.p-4
							.collapse#tblAwardDet
								table#tbl_award_det(data-show-export="true")

			.row
				.col-sm-12.col-md-12.col-lg-12.col-xl-12
					.card
						.card-header(data-toggle="collapse", href="#tblAwardDoc", aria-expanded="false", aria-controls="tblAwardDoc")
							h3.card-title Documento
						.card-body.p-4
							.collapse#tblAwardDoc
								table#tbl_award_doc(data-show-export="true")

	script(src='https://unpkg.com/axios/dist/axios.min.js')

	//  JQUERY JS 
	script(src='/assets/js/jquery-3.4.1.min.js')
	//  BOOTSTRAP JS 
	script(src='/assets/plugins/bootstrap/js/bootstrap.bundle.min.js')
	script(src='/assets/plugins/bootstrap/js/popper.min.js')

	//  SPARKLINE JS
	script(src='/assets/js/jquery.sparkline.min.js')
	//  RATING STARJS 
	script(src='/assets/plugins/rating/jquery.rating-stars.js')
	//  SIDE-MENU JS
	script(src='/assets/plugins/sidemenu/sidemenu.js')
	//  CUSTOM SCROLLBAR JS
	script(src='/assets/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js')
	//  SIDEBAR JS 
	script(src='/assets/plugins/sidebar/sidebar.js')

	script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js')

	script(src='/assets/js/custom.js')

	script(src='/assets/js/lib/bootstrap-table.min.js')
	script(src='/assets/js/lib/bootstrap-table-locale-all.min.js')
	script(src='/assets/js/lib/FileSaver.min.js')
	script(src='/assets/js/lib/tableExport.min.js')
	script(src='/assets/js/lib/bootstrap-table-export.js')

	script(src='/assets/js/lib/voca.min.js')
	
	script(src='/assets/js/lib/numeral.min.js')
	script(src='/assets/js/lib/locales.min.js')

	script(src='/assets/js/bootstrap-datetimepicker.min.js')

	script(src='/assets/js/lib/rut.js')
	script(src='/assets/js/app/award.js')
