extends layout

block content
	.page
		.page-main
			.app-sidebar__overlay(data-toggle='sidebar')
			aside.app-sidebar
				.side-header
					a.header-brand1(href='index.html')
						//img.header-brand-img.desktop-logo(src='/assets/images/brand/logo.png' alt='logo')
						img.header-brand-img.desktop-logo(src='https://primuscapital.cl/wp-content/uploads/logo-primus-capital-banner.png' alt='logo')
						//img.header-brand-img.toggle-logo(src='/assets/images/brand/logo-1.png' alt='logo')
						img.header-brand-img.toggle-logo(src='https://via.placeholder.com/64x68.png' alt='logo')
						//img.header-brand-img.light-logo(src='/assets/images/brand/logo-2.png' alt='logo')
						img.header-brand-img.light-logo(src='https://via.placeholder.com/64x68.png' alt='logo')
						//img.header-brand-img.light-logo1(src='/assets/images/brand/logo-3.png' alt='logo')
						img.header-brand-img.light-logo1(src='https://primuscapital.cl/wp-content/uploads/logo-primus-capital-banner.png' alt='logo')
					a.app-sidebar__toggle.ml-auto(aria-label='Hide Sidebar' data-toggle='sidebar' href='#')
				.app-sidebar__user
					.dropdown.user-pro-body.text-center
						//.user-pic
							img.avatar-xl.rounded-circle(src='/assets/images/users/10.jpg' alt='user-img')
						.user-info
							h6.mb-0.text-dark 
								| R.U.T. 99.999.999-N
							span.text-muted.app-sidebar__user-name.text-sm 
								| Su Ejecutivo de Cuenta es 
								br
								| nnnnn nnnnn nnnnnn
								br
								| Telefono +56 1234 1234
								br
								| Email email@correo.com
				.sidebar-navs
					ul.nav.nav-pills-circle
						li.nav-item(data-toggle='tooltip' data-placement='top' title='Buscar Documento')
							a.nav-link.text-center.m-2
								i.fe.fe-search
						li.nav-item(data-toggle='tooltip' data-placement='top' title='Home')
							a.nav-link.text-center.m-2
								i.fe.fe-home
						li.nav-item(data-toggle='tooltip' data-placement='top' title='Email')
							a.nav-link.text-center.m-2
								i.fe.fe-mail
						li.nav-item(data-toggle='tooltip' data-placement='top' title='Cerrar Sesión')
							a.nav-link.text-center.m-2
								i.fe.fe-power
				ul.side-menu
					li
						h3 Reportes
					li
						a.side-menu__item(href='#')
							i.side-menu__icon.ti-clipboard
							span.side-menu__label Otorgamientos
					li
						a.side-menu__item(href='#')
							i.side-menu__icon.ti-notepad
							span.side-menu__label Cancelaciones
					li
						a.side-menu__item(href='#')
							i.side-menu__icon.ti-book
							span.side-menu__label Cartera Vigente
					li
						a.side-menu__item(href='#')
							i.side-menu__icon.ti-envelope
							span.side-menu__label Excedentes
					li
						a.side-menu__item(href='#')
							i.side-menu__icon.ti-receipt
							span.side-menu__label Protestos
					li
						a.side-menu__item(href='#')
							i.side-menu__icon.ti-stamp
							span.side-menu__label Prorrogas

			.app-content
				.side-app
					.page-header
						div
							h1.page-title Buscar Documento
							ol.breadcrumb
								li.breadcrumb-item
									a(href='#') Home
								li.breadcrumb-item.active(aria-current='page') Buscar Documento

					.row
						.col-sm-12.col-md-12.col-lg-12.col-xl-6
							.card
								.card-header
									h3.card-title Busqueda de Documento
								.card-body.p-4
									.mb-5
										.form-group
											label.form-label.mt-0 Tipo Documento
											select.form-control.select2.custom-select(data-placeholder='Elija uno')
												option(label='Elija uno') 
												option(value='1') Factura
												option(value='2') Cheque
												option(value='3') Letra
												option(value='4') Pagare
									.mb-5
										.form-group
											label.form-label Nro. de Documento
											.input-group
												input.form-control(type='text' placeholder='Buscar Nro. de documento...')
												span.input-group-append
													button.btn.btn-primary(type='button') Go!

									.mb-5
										p.mb-2
											| Busqueda de documento por Tipo
											br
											| 1. Seleccione tipo de documento de la lista
											br
											| 2. Ingrese un número de documento
									.mb-5
										p.mb-2
											span.float-right.text-muted
												| Nota: Si se encuentra más de un documento con el mismo número, debera seleccionar el deudor buscado.



		footer.footer
			.container
				.row.align-items-center.flex-row-reverse
					.col-md-12.col-sm-12.text-center
						| Copyright © 2020 
						a(href='#') Primas Capital
						| . Designed by 
						a(href='#') Ideas Digitales



	//  BACK-TO-TOP 
	a#back-to-top(href='#top')
		i.fa.fa-angle-up

	//  JQUERY JS 
	script(src='/assets/js/jquery-3.4.1.min.js')
	//  BOOTSTRAP JS 
	script(src='/assets/plugins/bootstrap/js/bootstrap.bundle.min.js')
	script(src='/assets/plugins/bootstrap/js/popper.min.js')
	//  SPARKLINE JS
	script(src='/assets/js/jquery.sparkline.min.js')
	//  CHART-CIRCLE JS
	script(src='/assets/js/circle-progress.min.js')
	//  RATING STARJS 
	script(src='/assets/plugins/rating/jquery.rating-stars.js')
	//  CHARTJS CHART JS
	script(src='/assets/plugins/chart/Chart.bundle.js')
	script(src='/assets/plugins/chart/utils.js')
	//  PIETY CHART JS
	script(src='/assets/plugins/peitychart/jquery.peity.min.js')
	script(src='/assets/plugins/peitychart/peitychart.init.js')
	//  ECHART JS
	script(src='/assets/plugins/echarts/echarts.js')
	//  SIDE-MENU JS
	script(src='/assets/plugins/sidemenu/sidemenu.js')
	//  CUSTOM SCROLLBAR JS
	script(src='/assets/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js')
	//  SIDEBAR JS 
	script(src='/assets/plugins/sidebar/sidebar.js')
	//  APEXCHART JS 
	script(src='/assets/js/apexcharts.js')

	script(src='/assets/plugins/select2/select2.full.min.js')

	script(src='/assets/plugins/bootstrap-daterangepicker/moment.min.js')
	script(src='/assets/plugins/bootstrap-daterangepicker/daterangepicker.js')
	//  TIMEPICKER JS 
	script(src='/assets/plugins/time-picker/jquery.timepicker.js')
	script(src='/assets/plugins/time-picker/toggles.min.js')
	//  DATEPICKER JS 
	script(src='/assets/plugins/date-picker/spectrum.js')
	script(src='/assets/plugins/date-picker/jquery-ui.js')
	script(src='/assets/plugins/input-mask/jquery.maskedinput.js')
	//  MULTI SELECT JS
	script(src='/assets/plugins/multipleselect/multiple-select.js')
	script(src='/assets/plugins/multipleselect/multi-select.js')

	script(src='/assets/js/form-elements.js')
	//  INDEX JS 
	//script(src='/assets/js/index1.js')
	//  CUSTOM JS 
	script(src='/assets/js/custom.js')
