extends layout

block content
	.app-content
		.side-app
			.page-header
				div
					h1.page-title Prisma Capital
					ol.breadcrumb
						li.breadcrumb-item
							a(href='#') Home
						li.breadcrumb-item.active(aria-current='page') Main

			.row
				.col-xs-12.col-sm-12.col-lg-12
					.card
						.card-header
							h3.card-title Reportes que ud. puede encontrar en este sitio web
						.card-body
							.row
								.col-md-12
									.card
										.card-body
											h4
												strong 
													a(href='/award') Otorgamientos
											p Esta opción permite a ud. conocer todos sus contratos, con el detalle de documentos cedidos por contrato, incluyendo datos tales como monto documento, monto anticipado, diferencia de precio, comision, gastos, etc.
							.row
								.col-md-12
									.card
										.card-body
											h4
												strong Cancelaciones
											p Esta opción permite a ud. conocer las cancelaciones de documentos cedidos, fechas de pago y cobros de mora.
							.row
								.col-md-12
									.card
										.card-body
											h4
												strong 
													a(href='/wallet-staft') Cartera Vigente
											p Esta opción permite a ud. conocer los documentos vigentes y morosos a una determinada fecha.
							.row
								.col-md-12
									.card
										.card-body
											h4
												strong Excedentes
											p Esta opción permite a ud. conocer los excedentes generados, su procedencia y el destino de estos.
							.row
								.col-md-12
									.card
										.card-body
											h4
												strong Protestos
											p Esta opción permite a ud. conocer los documentos que han sido protestados históricamente, y los que aún permanecen impagos.
							.row
								.col-md-12
									.card
										.card-body
											h4
												strong Prorrogas
											p Esta opción permite a ud.conocer los documentos sobre los cuales se han afectado prorrogas y los costos involucrados en esta transacción.
							.row
								.col-md-12
									.card
										.card-body
											p 
												| Para cada reporte existen diferentes opciones de consulta, las cuales pueden entregar información con distintos niveles de detalle, desde resumenes por contrato, resumenes por documentos, hasta detalles por abono.
												| Estas consultas pueden realizarse a cualquier fecha deseada.


	//  JQUERY JS 
	script(src='/assets/js/jquery-3.4.1.min.js')
	//  BOOTSTRAP JS 
	script(src='/assets/plugins/bootstrap/js/bootstrap.bundle.min.js')
	script(src='/assets/plugins/bootstrap/js/popper.min.js')
	//  SPARKLINE JS
	script(src='/assets/js/jquery.sparkline.min.js')
	//  CHART-CIRCLE JS
	script(src='/assets/js/circle-progress.min.js')
	//  RATING STARJS 
	script(src='/assets/plugins/rating/jquery.rating-stars.js')
	//  CHARTJS CHART JS
	script(src='/assets/plugins/chart/Chart.bundle.js')
	script(src='/assets/plugins/chart/utils.js')
	//  PIETY CHART JS
	script(src='/assets/plugins/peitychart/jquery.peity.min.js')
	script(src='/assets/plugins/peitychart/peitychart.init.js')
	//  ECHART JS
	script(src='/assets/plugins/echarts/echarts.js')
	//  SIDE-MENU JS
	script(src='/assets/plugins/sidemenu/sidemenu.js')
	//  CUSTOM SCROLLBAR JS
	script(src='/assets/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js')
	//  SIDEBAR JS 
	script(src='/assets/plugins/sidebar/sidebar.js')
	//  APEXCHART JS 
	script(src='/assets/js/apexcharts.js')
	//  INDEX JS 
	//script(src='/assets/js/index1.js')
	//  CUSTOM JS 
	script(src='/assets/js/custom.js')
