doctype html
html(lang="es")
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width,initial-scale=1,user-scalable=0')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='description' content='Primus Capital')
		meta(name='author' content='www.ideasdigitales.cl')
		meta(name='keywords' content='')

		// FAVICON 
		link(rel='shortcut icon' type='image/x-icon' href='/assets/images/brand/favicon.ico')
		// TITLE 
		title Primus Capital

		link(href='/assets/plugins/bootstrap/css/bootstrap.min.css' rel='stylesheet')

		link(href='/assets/css/style.css' rel='stylesheet')
		link(href='/assets/css/skin-modes.css' rel='stylesheet')

		link(href='/assets/plugins/sidemenu/sidemenu.css' rel='stylesheet')
		link(href='/assets/plugins/single-page/css/main.css' rel='stylesheet' type='text/css')

		//link(href='/assets/plugins/charts-c3/c3-chart.css' rel='stylesheet')

		link(href='/assets/plugins/scroll-bar/jquery.mCustomScrollbar.css' rel='stylesheet')

		link(href='/assets/css/icons.css' rel='stylesheet')

		link(href='/assets/plugins/sidebar/sidebar.css' rel='stylesheet')

		//link(href='/assets/plugins/fileuploads/css/fileupload.css' rel='stylesheet' type='text/css')

		link(href='/assets/plugins/select2/select2.min.css' rel='stylesheet')

		//link(rel='stylesheet' href='/assets/plugins/bootstrap-daterangepicker/daterangepicker.css')

		//link(href='/assets/plugins/time-picker/jquery.timepicker.css' rel='stylesheet')

		link(href='/assets/plugins/date-picker/spectrum.css' rel='stylesheet')

		//link(rel='stylesheet' href='/assets/plugins/multipleselect/multiple-select.css')

		link(rel='stylesheet', href='/assets/css/bootstrap-table.min.css')
		link(rel="stylesheet", href="/assets/css/bootstrap-datetimepicker.min.css")

		link#theme(rel='stylesheet' type='text/css' media='all' href='/assets/colors/color1.css')


	body.app.sidebar-mini
		#global-loader
			img.loader-img(src='/assets/images/loader.svg' alt='Loader')

		.page
			.page-main
				.app-sidebar__overlay(data-toggle='sidebar')
				aside.app-sidebar
					.side-header
						a.header-brand1(href='/')
							img.header-brand-img.desktop-logo(src='/assets/images/brand/logo.png' alt='Primus Capital')
							img.header-brand-img.toggle-logo(src='/assets/images/brand/logo-1.png' alt='Primus Capital')
							img.header-brand-img.light-logo(src='/assets/images/brand/logo-2.png' alt='Primus Capital')
							img.header-brand-img.light-logo1(src='/assets/images/brand/logo-3.png' alt='Primus Capital')
						a.app-sidebar__toggle.ml-auto(aria-label='Hide Sidebar' data-toggle='sidebar' href='#')
					.app-sidebar__user
						.dropdown.user-pro-body.text-center
							//.user-pic
								img.avatar-xl.rounded-circle(src='/assets/images/users/10.jpg' alt='user-img')
							.user-info
								h6.mb-0.text-dark 
									| R.U.T. 
									if user
										| #{user.rut}
								span.text-muted.app-sidebar__user-name.text-sm 
									| Su Ejecutivo de Cuenta es 
									br
									if user
										| &nbsp;#{user.ejecutivo}
									br
									if user
										| Telefono #{user.fono}
									br
									if user
										| Email #{user.email}
					.sidebar-navs
						ul.nav.nav-pills-circle
							li.nav-item(data-toggle='tooltip' data-placement='top' title='Buscar Documento')
								a.nav-link.text-center.m-2(href='/search-doc')
									i.fe.fe-search
							li.nav-item(data-toggle='tooltip' data-placement='top' title='Home')
								a.nav-link.text-center.m-2(href='/')
									i.fe.fe-home
							li.nav-item(data-toggle='tooltip' data-placement='top' title='Email')
								a.nav-link.text-center.m-2
									i.fe.fe-mail
							li.nav-item(data-toggle='tooltip' data-placement='top' title='Cerrar Sesión')
								a.nav-link.text-center.m-2(href='/logout')
									i.fe.fe-power
					ul.side-menu
						li
							h3 Reportes
						li
							a.side-menu__item(href='/award')
								i.side-menu__icon.ti-clipboard
								span.side-menu__label Otorgamientos
						li
							a.side-menu__item(href='/cancellations')
								i.side-menu__icon.ti-notepad
								span.side-menu__label Cancelaciones
						li
							a.side-menu__item(href='/wallet-staft')
								i.side-menu__icon.ti-book
								span.side-menu__label Cartera Vigente
						li
							a.side-menu__item(href='/surplus')
								i.side-menu__icon.ti-envelope
								span.side-menu__label Excedentes
						li
							a.side-menu__item(href='/protests')
								i.side-menu__icon.ti-receipt
								span.side-menu__label Protestos
						li
							a.side-menu__item(href='/extensions')
								i.side-menu__icon.ti-stamp
								span.side-menu__label Prorrogas

				//  Mobile Header 
				.mobile-header
					.container-fluid
						.d-flex
							a.app-sidebar__toggle(aria-label='Hide Sidebar' data-toggle='sidebar' href='#')
							//  sidebar-toggle
							a.header-brand(href='/')
								img.header-brand-img.desktop-logo(src='/assets/images/brand/logo.png' alt='Primus Capital')
								img.header-brand-img.desktop-logo.mobile-light(src='/assets/images/brand/logo-3.png' alt='Primus Capital')


			block content

			a#back-to-top(href='#top')
				i.fa.fa-angle-up

			footer.footer.footer-efect.mt-4
				.container-fluid.bg-primary.text-light
					.row.p-5
						.col-md-3.col-12
							img(src='https://primuscapital.cl/wp-content/uploads/logo-primus-capital-footer.png' style='height:43px;')
							br
							br
							img(src='https://primuscapital.cl/wp-content/uploads/logo-achef.png' style='height:30px;')
						.col-md-9.col-12
							.row
								.col-md-3.col-sm-6.col-12.mb-2.pl-0
									ul.nav.flex-column
										li.nav-item
											a.nav-link.inverse.font-small-90(href='https://primuscapital.cl/somos-primus-capital/') Nosotros
										li.nav-item
											a.nav-link.inverse.font-small-90(href='https://primuscapital.cl/productos-y-servicios/') Productos y servicios
										li.nav-item
											a.nav-link.inverse.font-small-90(href='https://primuscapital.cl/informacion-de-interes/#preguntas') Preguntas frecuentes
										li.nav-item
											a.nav-link.inverse.font-small-90(href='https://primuscapital.cl/informacion-de-interes/#canal') Canal de denuncias
										li.nav-item
											a.nav-link.inverse.font-small-90(href='https://primuscapital.cl/contactanos/#trabaja') Trabaja con nosotros
								.col-md-3.col-sm-6.col-12.mb-2.pl-0
									ul.nav.flex-column
										li.nav-item
											a.nav-link.inverse.font-small-90(href='https://primuscapital.cl/politicas-de-privacidad/') Políticas de privacidad
										li.nav-item
											a.nav-link.inverse.font-small-90(href='https://primuscapital.cl/acceso-clientes/') Acceso Clientes
										li.nav-item
											a.nav-link.inverse.font-small-90(href='https://primuscapital.cl/contactanos') Contáctanos
										li.nav-item
											a.nav-link.inverse.font-small-90(href='https://primuscapital.cl/noticias/') Noticias
								.col-md-3.col-sm-6.col-12.mb-2.pl-0
									p
										strong.font-small-90 Primus Capital Chile
										br
										br
										strong.font-small-90 Dirección
										span.font-small-90 : Apoquindo 3000, piso 10, Las Condes, Región Metropolitana
										br
										br
										strong.font-small-90 Teléfono
										| : 
										a.text-white.font-small-90(href='tel:%20+56224112100') +562 2411 2100
								.col-md-3.col-sm-6.col-12.mb-2.pl-0
									p
										strong.font-small-90 Primus Capital Perú
										br
										br
										strong.font-small-90 Dirección
										span.font-small-90 : Av.Jorge Basadre 310, Oficina 601 A. San Isidro, Lima
										br
										br
										strong.font-small-90 Teléfono
										| : 
										a.text-white.font-small-90(href='tel:%20+5115000504') +511 500 0504
										|  anexo 102

						.col-12
							.float-right
								a.icon-social-media.mr-2(href='https://es-la.facebook.com/pages/category/Financial-Service/Primus-Capital-2095418694044137/' title='Seguir en Facebook' target='_blank' data-toggle='tooltip' data-placement='top' data-original-title='Seguir en Facebook')
									i.fab.fa-facebook-f
								a.icon-social-media.mr-2(href='https://cl.linkedin.com/company/primus-capital-spa' title='Seguir en LinkedIn' target='_blank' data-toggle='tooltip' data-placement='top' data-original-title='Seguir en LinkedIn')
									i.fab.fa-linkedin-in
								a.icon-social-media.mr-2(href='https://www.instagram.com/primuscapitalchile/' title='Seguir en Instagram' target='_blank' data-toggle='tooltip' data-placement='top' data-original-title='Seguir en Instagram')
									i.fab.fa-instagram
								a.icon-social-media(href='https://twitter.com/PrimusCapitalCl' title='Seguir en Twitter' target='_blank' data-toggle='tooltip' data-placement='top' data-original-title='Seguir en Twitter')
									i.fab.fa-twitter