doctype html
html(lang="es")
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width,initial-scale=1,user-scalable=0')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='description' content='Volgh –  Bootstrap 4 Responsive Application Admin panel Theme Ui Kit & Premium Dashboard Design Modern Flat HTML Template')
		meta(name='author' content='Spruko Technologies Private Limited')
		meta(name='keywords' content='analytics dashboard, bootstrap 4 web app admin template, bootstrap admin panel, bootstrap admin template, bootstrap dashboard, bootstrap panel, Application dashboard design, dashboard design template, dashboard jquery clean html, dashboard template theme, dashboard responsive ui, html admin backend template ui kit, html flat dashboard template, it admin dashboard ui, premium modern html template')

		// FAVICON 
		link(rel='shortcut icon' type='image/x-icon' href='/assets/images/brand/favicon.ico')
		// TITLE 
		title Primus Capital
		// BOOTSTRAP CSS 
		link(href='/assets/plugins/bootstrap/css/bootstrap.min.css' rel='stylesheet')
		// STYLE CSS 
		link(href='/assets/css/style.css' rel='stylesheet')
		link(href='/assets/css/skin-modes.css' rel='stylesheet')
		// SIDE-MENU CSS 
		link(href='/assets/plugins/sidemenu/sidemenu.css' rel='stylesheet')
		link(href='/assets/plugins/single-page/css/main.css' rel='stylesheet' type='text/css')
		// C3 CHARTS CSS 
		link(href='/assets/plugins/charts-c3/c3-chart.css' rel='stylesheet')
		// CUSTOM SCROLL BAR CSS
		link(href='/assets/plugins/scroll-bar/jquery.mCustomScrollbar.css' rel='stylesheet')
		// - FONT-ICONS CSS 
		link(href='/assets/css/icons.css' rel='stylesheet')
		// SIDEBAR CSS 
		link(href='/assets/plugins/sidebar/sidebar.css' rel='stylesheet')

		link(href='/assets/plugins/fileuploads/css/fileupload.css' rel='stylesheet' type='text/css')

		link(href='/assets/plugins/select2/select2.min.css' rel='stylesheet')

		link(rel='stylesheet' href='/assets/plugins/bootstrap-daterangepicker/daterangepicker.css')

		link(href='/assets/plugins/time-picker/jquery.timepicker.css' rel='stylesheet')

		link(href='/assets/plugins/date-picker/spectrum.css' rel='stylesheet')

		link(rel='stylesheet' href='/assets/plugins/multipleselect/multiple-select.css')

		// COLOR SKIN CSS 
		link#theme(rel='stylesheet' type='text/css' media='all' href='/assets/colors/color1.css')

	body
		block content
