
/*--------------------------------------------------------------
>>> GENERAL
----------------------------------------------------------------*/
*, html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

a {
    color: #25c8cf;
}
a:hover {
    text-decoration: none;
}

p {
    color: #76839a;
}

h4, .h4 {
    font-size: 1em;
    text-transform: uppercase;
}
footer a {
    color: #0056b3;
}
footer p {
    color: #FFF;
}

/*--------------------------------------------------------------
>>> HEADER
----------------------------------------------------------------*/

.page-header {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 18px 0px;
    border-radius: 1.25rem;
    padding: 20px;
    margin-bottom: 20px;
}

/*--------------------------------------------------------------
>>> SIDEBAR
----------------------------------------------------------------*/

ul.side-menu {
    list-style: none;
    margin-left: 15px;
}
.side-header .header-brand-img.desktop-logo {
    max-height: initial;
    max-width: 160px;
    position: relative;
    top: -5px;
    display: block;
    margin-bottom: -20px;
}
.app-sidebar {
    -webkit-box-shadow: 0 8px 24px #00000045;
    box-shadow: 0 8px 24px #00000045;
}
.side-menu__item.active, .side-menu__item:hover, .side-menu__item:focus {
    text-decoration: none;
    color: #166daa;
}
.side-menu__item.active .side-menu__icon, .side-menu__item:hover .side-menu__icon, .side-menu__item:focus .side-menu__icon {
    color: #166daa;
}

.mCSB_container {
    background-color: #FFF;
}
.mCustomScrollBox {
    background-color: #dbf3f3;
}
.light-blue {
    background-color: #dbf3f3;
}

.light-blue a {
    color: #383838;
}
.sidebar-navs a {
    color: #214097 !important;
    border: 1px solid #00c8cf!important;
}
.app-sidebar .sidebar-navs {
    border-bottom: 1px solid transparent;
}
.side-menu__item span {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.side-menu__item:hover span {
    margin-left: 5px;
}
.user-info .text-muted {
    color: #383838!important;
    font-size: 13px;
}
.user-info .text-dark {
    font-size: 20px;
    font-weight: bold;
}

/*--------------------------------------------------------------
>>> BODY CLASSES
----------------------------------------------------------------*/

.card .card-body {
    padding: 20px;
}
.accordion, .card-group, .card {
    margin-bottom: 20px;
}
.card {
    position: relative;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 100%;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    border: 1px solid transparent;
    background-clip: border-box;
    border-radius: 7px;
    box-shadow: 0 8px 24px #e5e4e6;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 5px 8px 24px #e5e4e6;
    z-index: 1;
}

.cards-home .card {
    min-height: 210px;
}

.card.fix-calendar {
    z-index: 1;
}
.card.cards-container:hover {
    transform: translateY(0px);
    box-shadow: 0 8px 24px #e5e4e6;
}
.card>img:first-child, .card>.list-group>.list-group-item:first-child, :not(.accordion)>.card>.card-header:first-child, .accordion>.card:first-child>.card-header, .list-group>.list-group-item:first-child {
    border-radius: 5px 5px 0px 0px!important;
}


.card.cards-container .card-body {
    min-height: auto;
}

.rrss {
	margin: -30px 50px 30px 0px;
}
h1.page-title {
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: bold;
}
.breadcrumb {
    padding: 0px;
    list-style: none;
    background-color: transparent;
}
a.text-primary:hover, a.text-primary:focus {
    color: #25c8cf!important;
}
.symbol-form {
    position: absolute;
    left: 5px;
    top: 5px;
    display: block;
}
.form-group {
    position: relative;
}
.form-title {
    font-size: 21px;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block;
    padding-bottom: 10px;
    color: #424344;
}
.form-group:hover i:before {
    color: #304294;
}
.btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    border-radius: 5px;
    color: #fff !important;
    background: #304294 !important;
    border-color: #304294 !important;
    box-shadow: 0 5px 10px rgba(94, 45, 216, 0.3);
    width: 100%;
    height: 40px;
    font-size: 14px;
    font-weight: 400;
}

.app-content .side-app {
    margin: 20px 0px;
}
.page-header {
    position: relative;
    margin-bottom: 1.5rem;
    width: 100%;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    border: 1px solid transparent;
    background-clip: border-box;
    border-radius: 7px;
    box-shadow: 0 8px 24px #e5e4e6;
}
.card .card-body {
    min-height: 200px;
}
.counter-icon {
    margin-bottom: 1rem;
    width: 60px;
    height: 60px;
    padding: 18px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    margin: 10px auto;
    display: block;
}
.counter-icon i {
    font-size: 1.5em;
}


.card-header h3 {
    margin-bottom: 0px;
    font-size: 1.2em;
    text-transform: uppercase;
}
.breadcrumb {
    margin-bottom: 0px;
}

.card .card-body.h-auto {
    min-height: auto;
}

/*--------------------------------------------------------------
>>> LOGIN
----------------------------------------------------------------*/

#login {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: #304294;
}
#login form {
    background: #fff;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.06);
    border-radius: 5px;
    border: 1px solid #FFF;
}
#login .form-control {
    padding-left: 30px;
}

.btn-pc {
    font-size: 16px;
    background-color: #25c8cf;
    border-width: 1px!important;
    border-color: #25c8cf;
    border-radius: 10px;
    font-weight: bold;
    font-style: normal;
    text-transform: none;
    text-decoration: none;
    color: #FFF;
    margin: 5px 0px;
    width: 100%;
    position: relative;
    padding: 7px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn-pc:hover {
    border: 2px solid transparent;
    padding: 7px;
    color: #25c8cf!important;
    background: rgba(255,255,255,0)!important;
    border-color: #25c8cf!important;
    border-radius: 20px;
    letter-spacing: 2px;
}
.btn-pc:hover:after {
    content: "\f101";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: relative;
    right: -10px;
    font-size: 1.2em;
    top: 1px;
}


.card-header[data-toggle="collapse"]:after {
    content: "\f102";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 1.5em;
    color: #25c8cf;
}
.card-header.collapsed[data-toggle="collapse"]:after {
    content: "\f103";
}



/*--------------------------------------------------------------
>>> COLORS
----------------------------------------------------------------*/

.color-first {
    color: #00c8cf!important;
}
.color-second {
    color: #0b9bbc!important;
}
.color-third {
    color: #166daa!important;
}
.color-fourth {
    color: #214097!important;
}

.color-first h1, .color-first h2, .color-first h3, .color-first h4, .color-first h5 {
    color: #00c8cf!important;
}
.color-second h1, .color-second h2, .color-second h3, .color-second h4, .color-second h5{
    color: #0b9bbc!important;
}
.color-third h1, .color-third h2, .color-third h3, .color-third h4, .color-third h5 {
    color: #166daa!important;
}
.color-fourth h1, .color-fourth h2, .color-fourth h3, .color-fourth h4, .color-fourth h5 {
    color: #214097!important;
}

.color-first .counter-icon {
    box-shadow: 0 5px 10px rgba(0, 200, 207, 0.3);
    background: #00c8cf!important;
}
.color-second .counter-icon {
    box-shadow: 0 5px 10px rgba(11, 155, 188, 0.3);
    background: #0b9bbc!important;
}
.color-third .counter-icon {
    box-shadow: 0 5px 10px rgba(22, 109, 170, 0.3);
    background: #166daa!important;
}
.color-fourth .counter-icon {
    box-shadow: 0 5px 10px rgba(33, 64, 151, 0.3);
    background: #214097!important;
}

.color-first.hvr-underline-from-left:before {
    background: #00c8cf;
}
.color-second.hvr-underline-from-left:before {
    background: #0b9bbc;
}
.color-third.hvr-underline-from-left:before {
    background: #166daa;
}
.color-fourth.hvr-underline-from-left:before {
    background: #214097;
}


/*--------------------------------------------------------------
>>> FORMS
----------------------------------------------------------------*/

.card-title {
    margin-bottom: 0px;
}
.icon-input {
    padding-left: 30px;
}
.custom-control-input:checked~.custom-control-label::before, .list-group-item.active {
    background-color: #00c8cf !important;
    border-color: #004f52;
}
.form-control:disabled, .form-control[readonly] {
    background-color: transparent;
    opacity: .3;
}
.btn-outline-warning {
    color: #ecb403;
    background-color: transparent;
    background-image: none;
    border-color: #ecb403;
    box-shadow: 0 5px 10px rgba(247, 183, 49, 0.3);
    font-weight: normal;
    font-size: 13px;
    border-radius: 5px;
    padding: 10px;
}
.btn-outline-warning:hover {
    color: #fff;
    background-color: #ecb403;
    border-color: #ecb403;
}
.btn-outline-secondary {
    color: #00c8cf;
    background-color: transparent;
    background-image: none;
    border-color: #006b6f;
    box-shadow: 0 5px 10px rgba(0, 200, 207, 0.5);
    font-weight: normal;
    font-size: 13px;
    border-radius: 5px;
    padding: 10px;
}
.btn-outline-secondary:hover {
    color: #fff;
    background-color: #00c8cf;
    border-color: #006b6f;
}
.bootstrap-datetimepicker-widget {
    background: #FFF;
    z-index: 999;
}
.float-right.btn-group {
    margin: 20px 0px;
}

/*--------------------------------------------------------------
>>> TOOLTIP
----------------------------------------------------------------*/
.tooltip-inner {
    background-color: #166daa;
    color: #FFF;
}
.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
    border-top-color: #166daa;
}